[submodule "caelestia"]
	path = src/dots
	url = https://github.com/caelestia-dots/caelestia.git
	branch = main
[submodule "plasma-wallpaper-application"]
	path = src/plasma-wallpaper-application
	url = https://invent.kde.org/dos/plasma-wallpaper-application